@model OnlinePerfumes.Models.Product

<h2>Сигурни ли сте, че искате да изтриете "@Model.Name"?</h2>

<form asp-action="Delete" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-danger">Да, изтрий</button>
    <a asp-action="Index" class="btn btn-secondary">Отказ</a>
</form>
