@model OnlinePerfumes.Models.ViewModels.Product.ProductViewModel
@{
    <h1>Edit this product</h1>
    <form method="post" asp-action="UpdateProduct" asp-controller="Product">
        <label asp-for="Name">Name</label>
        <input type="text" placeholder="@Model.Name" asp-for="Name" />
        <span asp-validation-for="Name"></span>

        <label asp-for="Price">Price</label>
        <input type="text" placeholder="@Model.Price" asp-for="Price" />
        <span asp-validation-for="Price"></span>

        <label asp-for="Aroma">Aroma</label>
        <input type="text" placeholder="@Model.Aroma" asp-for="Aroma" />
        <span asp-validation-for="Aroma"></span>

        <select asp-for="CategoryId" asp-items="@Model.Categories" class="form-control">
            <option value="">Select Category</option>
        </select>
        <span asp-validation-for="CategoryId"></span>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>

    <a asp-controller="Product" asp-action="Index">Back</a>
}


