@using OnlinePerfumes.Models.ViewModels
@model LogInViewModel
<style>
    /* From Uiverse.io by AdoGamer17 */
    .card {
        height: auto;
        width: 240px;
        padding: 1.9rem 1.2rem;
        text-align: center;
        background: #2a2b38;
        display:flex;
    }

    /*Inputs*/
    .field {
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        background-color: #1f2029;
        border-radius: 4px;
        padding: 0.5em 1em;
    }

    .input-icon {
        height: 1em;
        width: 1em;
        fill: #ffeba7;
    }

    .input-field {
        background: none;
        border: none;
        outline: none;
        width: 100%;
        color: #d3d3d3;
    }

    /*Text*/
    .title {
        margin-bottom: 1rem;
        font-size: 1.5em;
        font-weight: 500;
        color: black;
    }

    /*Buttons*/
    .btn-login {
        cursor: pointer;
        border: none;
        border-radius: 4px!important;
        font-weight: bold;
        font-size: 0.8em;
        text-transform: uppercase;
        padding: 0.6em 1.2em;
        background-color: #ffeba7;
        color: #5e6681;
        box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
        transition: all 0.3s ease-in-out;
    }

    .btn-link {
        color: #f5f5f5;
        display: block;
        font-size: 0.75em;
        transition: color 0.3s ease-out;
    }

    /*Hover & focus*/
    .field input:focus::placeholder {
        opacity: 0;
        transition: opacity 0.3s;
    }

    .btn:hover {
        background-color: #5e6681;
        color: #ffeba7;
        box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
    }

    .btn-link:hover {
        color: #ffeba7;
    }

</style>


<div class="card w-50 mx-auto border p-4 rounded shadow bg-light animate__animated animate__fadeIn mt-3">
    <p class="title text-center">Sign in</p>
    <form asp-action="Login" method="post" >
        <div class="field mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" class="input-icon">
                <path d="M207.8 20.73c-93.45 18.32-168.7 93.66-187 187.1c-27.64 140.9 68.65 266.2 199.1 285.1c19.01 2.888 36.17-12.26 36.17-31.49l.0001-.6631c0-15.74-11.44-28.88-26.84-31.24c-84.35-12.98-149.2-86.13-149.2-174.2c0-102.9 88.61-185.5 193.4-175.4c91.54 8.869 158.6 91.25 158.6 183.2l0 16.16c0 22.09-17.94 40.05-40 40.05s-40.01-17.96-40.01-40.05v-120.1c0-8.847-7.161-16.02-16.01-16.02l-31.98 .0036c-7.299 0-13.2 4.992-15.12 11.68c-24.85-12.15-54.24-16.38-86.06-5.106c-38.75 13.73-68.12 48.91-73.72 89.64c-9.483 69.01 43.81 128 110.9 128c26.44 0 50.43-9.544 69.59-24.88c24 31.3 65.23 48.69 109.4 37.49C465.2 369.3 496 324.1 495.1 277.2V256.3C495.1 107.1 361.2-9.332 207.8 20.73zM239.1 304.3c-26.47 0-48-21.56-48-48.05s21.53-48.05 48-48.05s48 21.56 48 48.05S266.5 304.3 239.1 304.3z"></path>
            </svg>
            <input asp-for="Email" class="input-field form-control" placeholder="Email" autocomplete="off" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="field mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" class="input-icon">
                <path d="M80 192V144C80 64.47 144.5 0 224 0C303.5 0 368 64.47 368 144V192H384C419.3 192 448 220.7 448 256V448C448 483.3 419.3 512 384 512H64C28.65 512 0 483.3 0 448V256C0 220.7 28.65 192 64 192H80zM144 192H304V144C304 99.82 268.2 64 224 64C179.8 64 144 99.82 144 144V192z"></path>
            </svg>
            <div class="input-group">
                <input asp-for="Password" type="password" class="input-field form-control" placeholder="Password" autocomplete="off" id="passwordInput" />
                <button type="button" class="btn-login btn-outline-secondary" onclick="togglePassword()">
                  

                    <svg fill="#000000" height="200px" width="200px" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 512 512"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="m494.8,241.4l-50.6-49.4c-50.1-48.9-116.9-75.8-188.2-75.8s-138.1,26.9-188.2,75.8l-50.6,49.4c-11.3,12.3-4.3,25.4 0,29.2l50.6,49.4c50.1,48.9 116.9,75.8 188.2,75.8s138.1-26.9 188.2-75.8l50.6-49.4c4-3.8 11.7-16.4 0-29.2zm-238.8,84.4c-38.5,0-69.8-31.3-69.8-69.8 0-38.5 31.3-69.8 69.8-69.8 38.5,0 69.8,31.3 69.8,69.8 0,38.5-31.3,69.8-69.8,69.8zm-195.3-69.8l35.7-34.8c27-26.4 59.8-45.2 95.7-55.4-28.2,20.1-46.6,53-46.6,90.1 0,37.1 18.4,70.1 46.6,90.1-35.9-10.2-68.7-29-95.7-55.3l-35.7-34.7zm355,34.8c-27,26.3-59.8,45.1-95.7,55.3 28.2-20.1 46.6-53 46.6-90.1 0-37.2-18.4-70.1-46.6-90.1 35.9,10.2 68.7,29 95.7,55.4l35.6,34.8-35.6,34.7z"></path> </g> </g></svg>
                </button>
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-check mb-3">
            <input asp-for="RememberMe" class="form-check-input" id="rememberMeCheck" />
            <label asp-for="RememberMe" class="form-check-label"></label>
        </div>

        <button type="submit" class="btn-login w-100">Submit</button>
    </form>
</div>

@section Scripts {
    <script>
        function togglePassword() {
            let passwordInput = document.getElementById("passwordInput");
            let toggleIcon = document.getElementById("toggleIcon");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleIcon.classList.remove("bi-eye");
                toggleIcon.classList.add("bi-eye-slash");
            } else {
                passwordInput.type = "password";
                toggleIcon.classList.remove("bi-eye-slash");
                toggleIcon.classList.add("bi-eye");
            }
        }
    </script>
}

