<header>
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">Online Perfumes</span>
        <span class="site-heading-lower">Света на Ароматите</span>
    </h1>
</header>

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img src="https://review-bg.com/wp-content/uploads/2022/12/%D0%9D%D0%B0%D0%B9-%D0%B4%D0%BE%D0%B1%D1%80%D0%B8%D1%82%D0%B5-%D0%B4%D0%B0%D0%BC%D1%81%D0%BA%D0%B8-%D0%BF%D0%B0%D1%80%D1%84%D1%8E%D0%BC%D0%B8-Review-bg.webp" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded position: absolute">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Класни Аромати</span>
                    <span class="section-heading-lower">Най-добрите парфюми тук</span>
                </h2>
                <p class="mb-3">Открийте перфектния аромат, който ще разкаже вашата история! В нашия онлайн бутик ще намерите селекция от луксозни, нишови и класически парфюми, подбрани с внимание към детайла.</p>
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">✨ За него. За нея. За вас.</a></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Нашето обещание</span>
                        <span class="section-heading-lower">За теб</span>
                    </h2>
                    <p class="mb-0">
                        📦 Бърза доставка 🚀
                        ❤️ Гарантирано качество
                        🎁 Стилни подаръчни опаковки

                        👉 Разгледайте колекцията и намерете своя аромат още сега!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="site-footer">
    <div class="container"><p class="m-0 small">Copyright &copy; Your Website 2025</p></div>
</footer>

