@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Order

<h2>Create New Order</h2>

<form asp-action="CreateOrder" method="post">
    <div class="form-group">
        <label for="orderDate">Order Date</label>
        <input type="date" name="orderDate" class="form-control" />
    </div>

    <!-- Секция за добавяне на продукти към новата поръчка -->
    <h4>Add Products</h4>
    <div id="product-section">
        @* Формата, която даде *@
        <div class="form-group">
            <label for="productId">Product</label>
            <select name="productId" class="form-control">
                @foreach (var product in ViewBag.Products)
                {
                    <option value="@product.ProductId">@product.Name</option>
                }
            </select>
        </div>
</div>

    <button asp-action="Add" asp-controller="Order" type="submit" class="btn btn-primary" formmethod="post">
        Submit
    </button>
</form>

