@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Order ID: @Model.OrderId</h2>
<p>Date: @Model.OrderDate.ToShortDateString()</p>

<table>
    <tr>
        <th>Product</th>
        <th>Price</th>
    </tr>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Price.ToString("C")</td>        
        </tr>
    }
</table>
